* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Gabarito', sans-serif;
}

body {
    background-color: #f6f8f9;
}

header {
    background-color: white;
}

header>figure,
h1 {
    display: inline-block;
    vertical-align: middle;
}

header>figure {
    margin-left: 17px;
    padding-block: 7px;
}

h1 {
    font-size: 40px;
    letter-spacing: 1px;
}

.container {
    width: 75%;
    margin-inline: auto;
    margin-top: 60px;
    overflow: hidden;
    border-radius: 10px;
}

.content {
    padding-inline: 70px;
    /* background-color: white; */
}

nav {
    padding-block: 10px;
    border-radius
}

button {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Gabarito', sans-serif;
    font-size: 15px;
}

nav>button:first-child {
    color: white;
    background-color: #47adf1;
    border-color: #47adf1;
}

nav>button:nth-child(2) {
    color: #c8cdd2;
    border-color: #c8cdd2;
}

main {
    padding-block: 30px;
    /* background-color: lightblue; */
}

section {
    margin-bottom: 30px;
}

h2,
span {
    display: inline-block;
}

h2 {
    font-size: 25px;
    margin-left: 5px;
}

section>span:nth-child(4) {
    margin-top: 10px;
    padding: 1px 5px;
    border-radius: 50%;
}

.checked {
    color: #66c1ab;
    border: 1px solid #66c1ab;
}

section>span:nth-child(5) {
    font-size: 17px;
    margin-left: 5px;
}

section>span:nth-child(5)::after {
    content: "Quarterly Newsletter";
}

section>:last-child {
    color: white;
    padding: 7px 12px;
    border-radius: 14px;
    font-size: 13px;
}

.blue-tag {
    background-color: #45abea;
}